body{
  background-color:   rgb(15, 15, 15);
 
  
}
.image-error {
    background-color: rgba(0, 0, 0, 0.303);
    background-image: url("https://images4.alphacoders.com/111/1112635.png");
    background-position: 52%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-blend-mode: multiply;
    width: auto;
  }

  .appw {
    font-family: fantasy;
    font-size: 33px;
    color: rgb(255, 0, 0);
    transition: 0.8s;
    animation-name: example;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  
  }
  
  @keyframes example {
  
    80% {
      text-shadow: 5px 5px 20px  rgb(255, 0, 0);
    }
  
    100% {
      text-shadow: 5px 5px 20px  rgb(255, 255, 255);
    }
  
    40% {
      text-shadow: 5px 5px 20px  rgb(255, 0, 0);
    }
  
    /* 30% {text-shadow: 5px 5px 50px rgb(255, 255, 255);} */
  
  }
  
  .appw:hover {
    font-size: 40px;
  }


  @media screen and (min-width: 400px) {
    .carusel-img {
      height: 230px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .carusel-img {
      height: 280px;
    }
  }
  
  @media screen and (min-width: 900px) {
    .carusel-img {
      height: 320px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .carusel-img {
      height: 360px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .carusel-img {
      height: 400px;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .carusel-img {
      height: 800px;
    }
  }

  .hoverImage:hover{
  transform: scale(1.2);
  }


  @media screen and (min-width: 450px) {
    .vvvh{
        height: 155vh;
    }
  }
  @media screen and (min-width: 526px) {
    .vvvh{
        height: 145vh;
    }
  }
  @media screen and (min-width: 546px) {
    .vvvh{
        height: 142vh;
    }
  }
  @media screen and (min-width: 992px) {
    .vvvh{
        height: 95vh;
    }
  }

  .years_list{
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #ffffff 50%
    );
    font-weight: bold;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  .years_list:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

 .years_list:hover {
   background-position: 0;
  }

  .years_list:hover::before{
    width: 100%;
  }

.movie_info{
  max-width: 700px;
  margin: 0 auto;
}